.container > form {
  width: 100%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

input {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 9%;
  width: 100%;
}
.divider {
  margin: 1rem 0;
  line-height: 1;
  height: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.85);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.text-light {
  color: white;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #05b462 !important;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}

p {
  color: rgb(255, 0, 0);
}

.text {
  margin: 2px;
  padding: 5px;
}

span {
  color: rgb(0, 95, 236);
  cursor: pointer;
}
