#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
* {
  box-sizing: border-box;
}
body {
  background: url("assets/images/nadra-bg.jpeg") no-repeat center;
  background-size: cover;
  height: 100%;
}
.custom-container {
  width: 1140px !important;
  margin: auto;
  padding: 20px;
}

/*.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
} */
label {
  text-align: left;
}
input {
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
}

h1 {
  min-height: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
select.ui.dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  appearance: none; /* Removes default browser styles */
}
